<!-- CATEGORY LIST SECTION -->
<section class="clearfix categoryGrid">
	<div class="row">
    <div class="col-sm-4 col-xs-12">

			<div class="sidebarInner">
				<ul class="sidebar-link">
          <li class="sidebar-item">
            <%= link_to "Your Items", items_path, class: "sidebar-link" %>
          </li>
					<li class="sidebar-item">
            <%= link_to "Your Item Orders", your_orders_path, class: "sidebar-link" %>
          </li>
          <li class="sidebar-item">
            <%= link_to "Your Service Offers", your_offers_path, class: "sidebar-link" %>
          </li>
          <li class="sidebar-item">
            <%= link_to "Your Service Requests", your_requests_path, class: "sidebar-link active" %>
          </li>
					<li class="sidebar-item">
            <%= link_to "Your Item Purchases", your_purchases_path, class: "sidebar-link" %>
          </li>
				</ul>
      </div>
      <div class="panel panel-default panel-card">
				<div class="panel-heading">
					Listings <span class="label label-primary">Monthly</span>
				</div>
				<div class="panel-body">
					<h2>71,503</h2>
					<p>Compare to last month <span class="resultInfo resultUp">10% <i class="fa fa-level-up" aria-hidden="true"></i></span></p>
				</div>
			</div>

		</div>
		<div class="col-sm-8 col-xs-12">
			<div class="resultBar barSpaceAdjust">
				<h2>Your Service Requests</h2>
			</div>

			<!-- LISTINGS SECTION -->
			<div class="row">
				<% @requests.each do |request| %>
					<div class="col-sm-6 col-xs-12">
						<div class="thingsBox thinsSpace">
							<div class="thingsImage">
								<%=link_to service_path(request.service) do %>
									<%= image_tag request.service.cover_photo(:original), class:"thingsImage image-250 img-responsive" %>
								<% end %>
								<div class="thingsMask">
									<ul class="list-inline rating">
										<li><%= request.service.service_category %></li>
									</ul>
									<h3><%=link_to request.service.title, service_path(request.service) %></h3>
									<p>Service Price: N<%= request.service.pricing %></p>
									<hr>
									<h6>Offer Total: N<%= request.total %></h6>
									<h6>Date Booked: <%= request.booking_date.strftime('%v') %></h6>
								</div>
							</div>
							<div class="thingsCaption">
								<ul class="list-inline captionItem text-center">
									<li>
										<%= image_tag avatar_url(request.service.user), class: "img-circle avatar-small" %>
										<%=link_to user_path(request.service.user) do %>
											<%= request.service.user.fullname %> (Owner)
										<% end %>
									</li><br>
								</ul>
							</div>
						</div>
					</div>
				<% end %>
			</div>






		</div>

	</div>
</section>
