<ul class="sidebarInner sidebar-link">
  <li class="sidebar-item">
    <%= link_to "Basic Info", listing_item_path, class: "sidebar-link active" %>
    <span class="pull-right"><i class="konfammer fa fa-check"></i></span>
  </li>

  <li class="sidebar-item">
    <%= link_to "Item Description", description_item_path, class: "sidebar-link active" %>
    <% if !@item.item_name.blank? %>
      <span class="pull-right"><i class="konfammer fa fa-check"></i></span>
    <% end %>
  </li>

  <li class="sidebar-item">
    <%= link_to "Item Details", details_item_path, class: "sidebar-link active" %>
    <% if !@item.summary.blank? %>
      <span class="pull-right"><i class="konfammer fa fa-check"></i></span>
    <% end %>
  </li>

  <li class="sidebar-item">
    <%= link_to "Item Pricing", pricing_item_path, class: "sidebar-link active" %>
    <% if !@item.price.blank? %>
      <span class="pull-right"><i class="konfammer fa fa-check"></i></span>
    <% end %>
  </li>

  <li class="sidebar-item">
    <%= link_to "Item Images", photo_upload_item_path, class: "sidebar-link active" %>
    <% if !@item.photos.blank? %>
      <span id="photo_check" class="pull-right"><i class="konfammer fa fa-check"></i></span>
    <% end %>
  </li>
</ul>
<hr/>

<% is_ready = !@item.active && !@item.photos.blank? && !@item.price.blank? && !@item.summary.blank? && !@item.item_name.blank? %>

<%= form_for @item do |f| %>
  <%= f.hidden_field :active, value: true %>
  <%= f.submit "Publish", id: "publish_button", class: "btn btn-primary btn-block", disabled: !is_ready %>
<% end %>
