<!-- LISTINGS DETAILS TITLE SECTION -->
<section class="clearfix paddingAdjustBottom">
	<div class="container row">
		<div class="col-xs-12 hidden-sm hidden-xs">
			<div class="listingTitleArea">
				<div class="row"><a href="#" class="label label-danger"><%= @item.category_type %></a>
				<a href="#" class="label label-success"><%= @item.item_type %></a></div>
				<h3><%= @item.item_name %></h3>
				<p class="konfammer">N<%= @item.price %></p>
				<div class="listingReview">
					<span><%= image_tag avatar_url(@item.user), class: "img-circle avatar-small" %> <%= @item.user.fullname %></span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 hidden-lg hidden-md">
			<div class="listingTitleArea text-center">
				<div class="row"><a href="#" class="label label-danger"><%= @item.category_type %></a>
				<a href="#" class="label label-success"><%= @item.item_type %></a></div>
				<h3><%= @item.item_name %></h3>
				<p class="konfammer">N<%= @item.price %></p>
				<div class="listingReview">
					<span><%= image_tag avatar_url(@item.user), class: "img-circle avatar-small" %> <%= @item.user.fullname %></span>
				</div>
			</div>
		</div>
	</div>

</section>

<!-- LISTINGS DETAILS IMAGE SECTION -->
<section class="clearfix paddingAdjustTopBottom hidden-sm hidden-xs">
	<ul class="list-inline listingImage">

		<% @photos.each do |photo| %>
			<li>
				<%= image_tag photo.image.url(), class: "img-responsive image-250" %>
			</li>
		<% end %>
	</ul>
</section>
<section class="clearfix paddingAdjustTopBottom hidden-lg hidden-md">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
  	<!-- Indicators -->
	  <ol class="carousel-indicators">
			<% @photos.each do |photo| %>
				<li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
				</li>
			<% end %>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">


			<% @photos.each do |photo| %>
				<div class="item <%= 'active' if photo.id == @photos[0].id %>">
				 <%= image_tag photo.image.url(), class: "img-responsive image-350" %>
			 	</div>
			<% end %>

	  </div>

	  <!-- Left and right controls -->
	  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#myCarousel" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</section>





<!-- LISTINGS DETAILS INFO SECTION -->
<section class="clearfix paddingAdjustTop">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<div class="listDetailsInfo">
					<div class="detailsInfoBox">
						<h5 class="hidden-xs">About This item</h5>
            <h5 class="text-center hidden-sm hidden-md hidden-lg">
              <i class="fa fa-info-circle" aria-hidden="true"></i> About This item
            </h5>
						<p> <%= @item.summary %></p>
					</div>
          <hr>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="listSidebar">
					<h5 class="hidden-xs">Item Details</h5>
          <h5 class="text-center hidden-sm hidden-md hidden-lg">
            <i class="fa fa-asterisk" aria-hidden="true"></i> Item Details
          </h5>
					<div class="contactInfo">
						<ul class="list-unstyled list-address">
							<li>
                <i class="fa fa-money" aria-hidden="true"></i>
								<span class="pull-right">N<%= @item.price %></span><br>
							</li>
							<li>
								<i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
								<span class="pull-right"><%= @item.quantity %></span><br>
							</li>
							<li>
								<i class="fa fa-user-circle" aria-hidden="true"></i>
								<span class="pull-right"><%= @item.user.fullname %></span>
							</li>
						</ul>
					</div>
				</div>


        <div class="col-xs-12 actions">
					<hr>
					<h5 class="text-center hidden-sm hidden-md hidden-lg">
						<i class="fa fa-shopping-cart" aria-hidden="true"></i> Order This Item
					</h5>
            <%= render 'item_purchases/form' %>
        </div>
			</div>
		</div>
	</div>
</section>
