<section>
  <div class="row">
    <div class="col-md-3">
      <%= render 'gigs/shared/gig_menu' %>
    </div>
    <div class="col-md-9">

        <%= form_for @gig do |f| %>
              <p class="profileIntro paraMargin">Tell the Konfam community about the gig you are hiring for.</p>
              <div class="row">
                <div class="form-group col-sm-12">
                  <%= f.text_field :title, :maxlength => 50, placeholder: "Gig Name", required: true, class: "form-control" %>
                </div>

                <div class="form-group col-sm-12">
                  <%= f.text_field :description, rows: 6, :maxlength => 500, placeholder: "Describe your gig to the Konfam community", required: true, class: "form-control" %>
                </div>

                <div class="form-group col-sm-12">
                  <%= f.text_field :additional_details, rows: 3, :maxlength => 500, placeholder: "Are there any other details that prospective appplicants should know?", required: true, class: "form-control" %>
                </div>

                <div class="text-center actions">
                  <%= button_tag type: 'submit', class: "btn btn-primary-alt btn-fully-round" do %>
                     <i class="fa fa-save"></i>
                  <% end %>
                </div>
              </div>
        <% end %>

    </div>
  </div>
</section>
